
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: limegreen;
    font-family: "Apple Braille", "Roboto Light", 'verdana', serif;
    text-align: center;
}

h1 {
    color: grey;

}