

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<body>
    <h1>Welcome to our Landing Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias architecto aspernatur consectetur corporis dolorem iste, nobis repellat velit vero! Eum facere itaque quasi. Aperiam blanditiis labore unde vitae voluptate.</p>
    <h2>Landing Page</h2>
<ul>
    {% for page in pages %}
        <li>
        <h3>{{ page.title }}</h3>
        <p>{{ page.content }}</p>
        </li>
    {% endfor %}

</ul>

</body>
</html>