{% extends 'base.html' %}
{% block content %}

    <!-- create profile form -->
    <section id="register-page" class="content auth">
        <form id="register" method="post" action="{% url 'create_profile' %}">
            <div class="container">
                <h1>Create Profile</h1>
                {% csrf_token %}
                {{ form }}
                <input class="btn submit" type="submit" value="Create Profile">
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>

{% endblock %}